<%- include ('../partials/adminHeader')  %>

<div class="home-content">
  <div class="col">
    <table class="table bg-white rounded shadow-sm  table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" width="50">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name</td>
          <td>name</td>
          <td>name</td>
          <td>name</td>
          <td>name</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>