<h4 class="mb-5 p-3 pl-4 rounded-2 text-white fw-bold shadow-sm" style="background-color: #616161;">Change Password</h4>
        <%- include('../partials/messages') %>
        <div class="">
            <form class="">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Current Password</label>
                  <input type="password" name="currentPassword" class="form-control" id="currentPassword" required>
                </div>
                <div class="mb-3">
                  <label for="newPassword" class="form-label">New Password</label>
                  <input type="password" name="newPassword" class="form-control" id="newPassword" onkeyup="validatePass1()" required>
                  <div id="pass1Error" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                    <div class="d-flex">
                        <input type="password" class="form-control col-10" id="newPassword2" onkeyup="validatePass2()" required>
                        <button type="button" onclick="sendOtp()" class="btn btn-secondary col ms-4">Send OTP</button>
                    </div>
                    <div id="pass2Error" class="form-text"></div>
                  <div id="otpText" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="otp" class="form-label">Enter OTP</label>
                    <input type="password" class="form-control" id="otp" name="otp">
                    <div id="otpSubmitText" class="form-text"></div>
                </div>
                <button type="button" onclick="changePassword()" class="btn btn-dark">Submit</button>
              </form>
        </div>
    
     
    


<script>
const sendOtp = ()=>{
    var isValidPass1 = validatePass1();
    var isValidPass2 = validatePass2();
      if (isValidPass1 && isValidPass2) {
    const currentPassword = document.getElementById('currentPassword').value
    const newPassword = document.getElementById('newPassword').value
    $.ajax({
        url:'/profile/change-password-check',
        method:'POST',
        data:{currentPassword,newPassword},
        success:(response)=>{
            if(response.error){
                document.getElementById('otpText').classList.remove('text-success');
                document.getElementById('otpText').classList.add('text-danger');
                document.getElementById('otpText').innerText = response.response
            }else{
                document.getElementById('otpText').classList.remove('text-danger');
                document.getElementById('otpText').classList.add('text-success');
                document.getElementById('otpText').innerText = response.response
            }
        }
    })
  }
}

const changePassword = ()=>{
    const otp = document.getElementById('otp').value
    $.ajax({
        url:'/profile/change-password',
        method:'POST',
        data:{otp},
        success:(response)=>{
            if(response.error){
                document.getElementById('otpSubmitText').classList.add('text-danger');
                document.getElementById('otpSubmitText').innerText = response.response
            }else{
                location.reload()
            }
        }
    })
}

const validatePass1 = ()=>{
    var passwordField = document.getElementById("newPassword").value;
  let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')

  if (strongPassword.test(passwordField)) {
    pass1Error.innerHTML = "";
    return true;
  } else if (passwordField.length === 0) {
    pass1Error.innerHTML = "";
    return false;
  } else {
    pass1Error.innerHTML = "Weak Password";
    pass1Error.classList.remove("text-success");
    pass1Error.classList.add("text-danger");
    return false;
  }
}

const validatePass2 = ()=>{
    var passwordField = document.getElementById("newPassword").value;
  var passwordField2 = document.getElementById("newPassword2").value;

  if (passwordField == passwordField2) {
    var match = true;
  }

  if (passwordField2.length === 0) {
    pass1Error.innerHTML = "";
    return false;
  }

  if (!match) {
    pass2Error.innerHTML = "Password doesn't match";
    pass2Error.classList.remove("text-success");
    pass2Error.classList.add("text-danger");
    return false;
  }
  pass2Error.innerHTML = "";
  return true;
}
</script>