<h4 class="mb-5 p-3 pl-4 rounded-2 text-white fw-bold shadow-sm" style="background-color: #616161;">Personal Details</h4>
<div class="d-flex">
    <img src="user/img/gifs/user-account.gif" style="height: 180px;" alt="">
    <div class="border ms-4 p-4 rounded-3 bg-light ">
        <h4><span class="fs-5 me-2">Name : </span>
            <%= user.name %>
        </h4>
        <h4><span class="fs-5 me-2">Email : </span>
            <%= user.email %>
        </h4>
        <h4><span class="fs-5 me-2">Phone : </span>
            <%= user.phone %>
        </h4>
    </div>
</div>